th{
    background-color:rgb(246, 241, 248);
	letter-spacing: 2%;  
}

th,td {
    padding: 8px;
}

table {
    border-collapse: collapse;
}

table,th,td {
    border: 1px solid black;
}
tr:hover {
    background-color: rgb(234, 241, 244);
}