<html>
<!-- Citation Scope: Sample Flask application for database connection and CRUD-->
<!-- Date: 3/18/2024 -->
<!-- Team Member: Yushu Sun and Tomomi Watanabe Hudspath -->
<!-- Originality: Adopted-->
<!-- Source https://github.com/osu-cs340-ecampus/flask-starter-app and Canvas -->
<head>
	<title>Dogs</title>
	<link href="static/css/style.css" rel="stylesheet" type="text/css" />
	<script language="JavaScript">
	function showform(dowhat) {
		/*
		 * four DIVS: browse, insert, update, delete
		 * this function sets one visible the others not
		 */
		if(dowhat == 'insert') {
			document.getElementById('browse').style.display = 'none';
			document.getElementById('insert').style.display = 'block';
			document.getElementById('edit').style.display = 'none';
			document.getElementById('delete').style.display = 'none';
		} else if(dowhat == 'update') {
			document.getElementById('browse').style.display = 'none';
			document.getElementById('insert').style.display = 'none';
			document.getElementById('edit').style.display = 'block';
			document.getElementById('delete').style.display = 'none';
		} else if(dowhat == 'delete') {
			document.getElementById('browse').style.display = 'none';
			document.getElementById('insert').style.display = 'none';
			document.getElementById('edit').style.display = 'none';
			document.getElementById('delete').style.display = 'block';
		} else if(dowhat == 'all') {
			document.getElementById('browse').style.display = 'block';
			document.getElementById('insert').style.display = 'block';
			document.getElementById('edit').style.display = 'block';
			document.getElementById('delete').style.display = 'block';
		} else { //by default display browse
			document.getElementById('browse').style.display = 'block';
			document.getElementById('insert').style.display = 'none';
			document.getElementById('edit').style.display = 'none';
			document.getElementById('delete').style.display = 'none';
		}
	}

	function newDog() {
		showform('insert');
	}

	function updateDog(dog_id) {
		showform('update');
	}

	function deleteDog(dog_id) {
		showform('delete');
	}

	function browseDogs() {
		showform('browse');
	}

	function showAll() {
		showform('all');
	}
	</script>
</head>

<body onload="browseDogs()">
	<h1><img src="./static/imges/icons8-dog-bubbles/icons8-dog-50.png"> Dogs</h1>
	
    <!-- nav menue bar -->
	<nav class ="global">
     <a href="index">Home</a> <a href="adopters">Adopters</a> <a href="breeds">Breeds</a> <a href="dogs">Dogs</a> <a href="dogs_breed_records">Dogs Breed Records</a> <a href="cats">Cats</a> <a href="cats_breed_records">Cats Breed Records</a> 
     </nav>

	<div id="browse">
		<p><a href="#" onClick="newDog()">Add New Dog</a> </p>
		<table border="1" cellpadding="5">
            <!-- Access data tuple passed from app.py --> 
            {% if data %}
			    <thead>
				    <tr>
					    <!-- Iterate through each key in the first entry to get the column name -->
                        <!-- {% for key in data[0].keys() %} -->
					    
                        <!-- Create a <th> tag with the key inside of it, this will be our header row -->
					    <!-- <th scope="col" data-field="{{ key }}" data-filter-control="input">{{ key }}</th> -->
					
                        <!-- End of this for loop -->
                        <!-- {% endfor %}  -->

						<th scope="col" data-field="dog_id" data-filter-control="input">Dog ID</th>
						<th scope="col" data-field="dog_name" data-filter-control="input">Dog Name</th>
						<th scope="col" data-field="age_years" data-filter-control="input">Age (years)</th>
						<th scope="col" data-field="weight_lb" data-filter-control="input">Weight (lb)</th>
						<th scope="col" data-field="sex" data-filter-control="input"> Sex M/F</th>
						<th scope="col" data-field="posted_date" data-filter-control="input">Posted Date</th>
						<th scope="col" data-field="date_vaccinated" data-filter-control="input">Date Vaccinated</th>
						<th scope="col" data-field="date_neutered" data-filter-control="input">Date Neutered</th>
						<th scope="col" data-field="date_microchipped" data-filter-control="input">Date Microchipped</th>
						<th scope="col" data-field="adopter_id" data-filter-control="input">Adopter</th>
						<th scope="col" data-field="date_adopted" data-filter-control="input">Date Adopted</th>

                    </tr>

				<tbody>
					<!-- Now, iterate through every item in data -->{% for item in data %}
					    <tr>
						    <!-- Then iterate through every key in the current item dictionary -->
                            {% for key in item.keys() %}

						    <!-- Create a <td> element with the value of that key in it -->
						    <td> {{item[key]}} </td> 
                            {% endfor %}

                            <!-- Create our edit/delete buttons -->
						    <td><a href="edit_dogs/{{item.dog_id}}" class="btn btn-default">Edit</a></td>
						    <td><a href="delete_dogs/{{item.dog_id}}" class="btn btn-default">Delete</a></td>


					    </tr> 
                        {% endfor %} 
                {% endif %} 
        </table>   
	<p>&nbsp;</p>
	<p>Please remember to create new Breeds Record entries and if needed new Breed entries!</p>
	</div>	<!-- browse -->

	<div id="insert">
		<!-- form to INSERT new data into Dogs table-->
		<form id="insertDog" action="/dogs" method="post">
			<legend><strong>Add Dog</strong></legend>
			<fieldset>
                <!-- placeholder shows ghost text, required forces an input, pattern forces input adherence -->
				<label for="dog_name">Dog Name:</label>
				<input type="text" class="form-control" id="dog_name" name="dog_name" pattern="[A-Za-z]{1,}" placeholder="" required>

				<label for="age_years">Age (years):</label>
				<input type="number" class="form-control" id="age_years" name="age_years" pattern="[A-Za-z0-9]{1,}" placeholder="" min="0" required>

				<label for="weight_lb">Weight (lb):</label>
				<input type="number" class="form-control" id="weight_lb" name="weight_lb" pattern="[A-Za-z]{1,}" placeholder="" min="0" required>

                <label for="sex">Sex M&#47F:</label>
				<input type="text" class="form-control" id="sex" name="sex" pattern="[A-Za-z]{1,}" placeholder="" required>

                <label for="posted_date">Posted Date:</label>
				<input type="date" class="form-control" id="posted_date" name="posted_date" pattern="[A-Za-z]{1,}" placeholder="" >

                <label for="date_vaccinated">Date Vaccinated:</label>
				<input type="date" class="form-control" id="date_vaccinated" name="date_vaccinated" pattern="[A-Za-z]{1,}" placeholder="" >

                <label for="date_neutered">Date Neutered:</label>
				<input type="date" class="form-control" id="date_neutered" name="date_neutered" pattern="[A-Za-z]{1,}" placeholder="" >

                <label for="date_microchipped">Date Microchipped:</label>
				<input type="date" class="form-control" id="date_microchipped" name="date_microchipped" pattern="[A-Za-z]{1,}" placeholder="" >

				<label for="adopter_id">Adopter:</label>
				<select class="form-control" id="adopter_id" name="adopter_id" pattern="[0-4]{1}" placeholder="" > 
					<!-- Access our adopter_id tuple passed from app.py-->
					<option value="0">&nbsp;- Select -</option>
					{% for adopter_id in adopter_ids %}
							<!-- If the value iterated adopter_id matches the value of the adopter_id of dog currently Editing, pre-select that option -->
							{% if adopter_id['adopter_id'] == data[0].adopter_id %}
								<option value="{{ adopter_id['adopter_id'] }}" selected> {{adopter_id['adopterName']}}</option>
							{% else %}
								<option value="{{ adopter_id['adopter_id'] }}"> {{adopter_id['adopterName']}}</option> 
							{% endif %}
					<!-- End of this for loop -->
					{% endfor %} 
				</select>


				<label for="date_adopted">Date Adopted:</label>
				<input type="date" class="form-control" id="date_adopted" name="date_adopted" pattern="[A-Za-z0-9]{1,}" placeholder=""> 
            </fieldset>

            <!-- Create 'Add Dog' and 'Cancel' buttons -->
			<input type="submit" value="Add Dog" name="Add_Dog" class="btn btn-primary" style="margin:.5rem;">
			<input class="btn" type="button" value="Cancel" onClick="browseDogs()"> 
        </form>
	</div><!--insert-->
	

	
</body>
</html>