<!-- Example Code from Canvas is based as template to be consisent through out the pages and we have modifed our code -->
<html>
<head>
    <title> FLASK APP Furry Friends Dog and Cats Shelter</title>
    <link href="static/css/style.css" rel="stylesheet" type="text/css" />
    <script src='main.js'></script>
    <link rel="dog-cat-icon" sizes = "48x48" href="icons8-pets-color/icons8-pets-48.png">
</head>

<body>
<h1><img src="static/imges/icons8-pets-color/icons8-pets-48.png"> FLASK APP Furry Friends Dog and Cat Shelter</h1>

<nav class ="global">
     <a href="index">Home</a> <a href="adopters">Adopters</a> <a href="breeds">Breeds</a> <a href="dogs">Dogs</a> <a href="dogs_breed_records">Dogs Breed Records</a> <a href="cats">Cats</a> <a href="catsbreedrecords">Cats Breed Records</a> 
     </nav>
<div id="" style="display: block">
     <div class="main">
          <h2>HOME : FLASK APP</h2>
          <!-- <div class="imgHome" style="height:100px;">Image</div> -->
          <p>Find your best furry friends Dogs and Cats</p>
          <br>

          <h5>Adopters : Adopters&#8217s detail contact and adoption information what dog or cat the adopter adopted</h5>
          <!-- <div class="imgAdopters" style="height:100px;">Image</div> -->
          <!-- <p>Adopters&#8217s detail contact and adoption information what dog or cat the adopter adopted</p> -->
          <br>

          <h3>Dogs : Dogs&#8217 detailed information that arrived in the shelter and when the dog has been adopted</h3>
          <!-- <div class="imgDogs" style="height:100px;">Image</div> -->
          <!--<p>Dogs&#8217 detailed information that arrived in the shelter and when the dog has been adopted</p>-->
          <br>

          <h5>Dogs Breed Records : Breeds of each dog - intersection table</h5>
          <!-- <div class="imgDogBreed" style="height:100px;">Image</div> -->
          <!--<p>Breeds of each dog - intersection table</p>-->
          <br>

          <h3>Cats : Cats&#8217 detailed information that arrived in the shelter and when the dog has been adopted</h3>
          <!-- <div class="imgCats" style="height:100px;">Image</div> -->
          <!--<p>Cats&#8217 detailed information that arrived in the shelter and when the dog has been adopted</p> -->
          <br>

          <h5>Cats Breed Records : Breeds of each cat - intersection table</h5>
          <!-- <div class="imgCatBreed" style="height:100px;">Image</div> -->
          <!-- <p>Breeds of each cat - intersection table</p> -->
          <br>

          <h5>Breeds : Breeds information of dogs or cats - category table</h5>
          <!-- <div class="imgBreeds" style="height:100px;">Image</div> -->
          <!--<p>Breeds information of dogs or cats - category table</p>-->
          <br>

     </div>

</div>

</body>
</html>
